body {
    background-color: #F6F8FA;
    padding: 0px;
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: black;
    font-family: 'Roboto', sans-serif;
}

#top-nav {
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 70px;
    background-color: #3ece75;
    color: white;
}

#logo {
    font-weight: bold;
    font-size: 32px;
    position: absolute;
    left: 20%;
    top: 15px;
    user-select: none;
}

#address {
    font-size: 18px;
    position: absolute;
    right: 20%;
    top: 25px;
}

#left-nav {
    width: 29%;
    height: 80%;
    position: absolute;
    top: 100px;
    left: 20%;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.1);
}

#right-nav {
    width: 29%;
    height: 80%;
    position: absolute;
    top: 100px;
    right: 20%;
    background-color: white;
    box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.1);
    border-radius: 8px;
}

.full-nav {
    width: 60%;
    height: 80%;
    position: absolute;
    top: 100px;
    left: 20%;
    background-color: white;
    box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.1);
    border-radius: 8px;
    display: none;
}

.title {
    color: rgba(0,0,0,0.8);
    font-size: 18px;
    position: absolute;
    top: 30px;
    left: 30px;
}

#all {
    color: rgb(2, 103, 255);
    font-size: 18px;
    position: absolute;
    right: 30px;
    bottom: 30px;
    user-select: none;
}

#all:hover {
    cursor: pointer;
}

.row {
    background-color: #F6F8FA;
    border-radius: 8px;
    position: absolute;
    left: 5%;
    width: 90%;
    height: 50px;
}

.row-title {
    position: absolute;
    font-size: 16px;
    color: rgba(0,0,0,0.8);
    left: 20px;
    top: 15px;
}

.row-link {
    position: absolute;
    font-size: 16px;
    color: rgb(2, 103, 255);
    right: 20px;
    top: 15px;
    user-select: none;
}

.row-link:hover {
    cursor: pointer;
}

.back {
    position: absolute;
    color: rgb(2, 103, 255);
    font-size: 16px;
    bottom: 20px;
    left: 20px;
    user-select: none;
}

.back:hover {
    cursor: pointer;
}

#oaddress {
    position: absolute;
    color: rgba(0,0,0,0.8);
    font-size: 16px;
    bottom: 20px;
    right: 20px;
}

#aaddress {
    position: absolute;
    color: rgba(0,0,0,0.8);
    font-size: 16px;
    bottom: 20px;
    right: 20px;
}

#holdings-title {
    position: absolute;
    color: rgba(0,0,0,0.8);
    font-size: 20px;
    top: 20px;
    left: 20px;
}

#holdings-wrapper {
    width: 96%;
    height: 60px;
    border-radius: 8px;
    position: absolute;
    top: 50px;
    left: 2%;
    background-color: #F6F8FA;
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    padding-top: 20px;
}

#events-title {
    position: absolute;
    color: rgba(0,0,0,0.8);
    font-size: 20px;
    top: 160px;
    left: 20px;
}

#events-wrapper {
    width: 96%;
    height: 125px;
    border-radius: 8px;
    position: absolute;
    top: 190px;
    left: 2%;
    background-color: #F6F8FA;
}

.event {
    position: absolute;
    width: 96%;
    left: 2%;
    height: 40px;
    background-color: white;
    border-radius: 8px;
}

#event1 {
    top: 15px;
}

#event2 {
    top: 65px;
}

.event-title {
    position: absolute;
    left: 40px;
    top: 10px;
}

.event-link {
    position: absolute;
    right: 40px;
    top: 10px;
    color:rgb(2, 103, 255);
    user-select: none;
}

.event-link:hover {
    cursor: pointer;
}

.event-date {
    position: absolute;
    left: 50%;
    top: 10px;
}

#votes-title {
    position: absolute;
    color: rgba(0,0,0,0.8);
    font-size: 20px;
    top: 340px;
    left: 20px;
}

.button {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 8px;
    position: absolute;
    bottom: 80px;
    user-select: none;
}

.button:hover {
    cursor: pointer;
}

#website {
    background-color: #3ece75;
    left: 40px;
}

#discord {
    background-color: rgb(153, 132, 209);
    left: 560px;
    color: white;
}

#donate {
    background-color: #a3ffc7;
    right: 40px;
}

input {
    position: absolute;
    right: 180px;
    top: 18px;
    border: none;
    border-bottom: 1px solid black;
    background-color: transparent;
    color: black;
    opacity: 50%;
    outline: none;
    transition: all 0.4s;
    text-align: center;
    font-size: 16px;
    width: 140px;
}

input:hover {
    opacity: 100%;
}

.row-button {
    position: absolute;
    right: 10px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 16px;
    background-color: #3ece75;
    opacity: 75%;
    transition: all 0.4s;
    padding-top: 8px;
    padding-bottom: 8px;
    top: 8px;
    border-radius: 8px;
    user-select: none;
    color: white;
}

.row-button:hover {
    cursor: pointer;
    opacity: 100%;
}

.row-description {
    position: absolute;
    font-size: 16px;
    color: rgba(0,0,0,0.8);
    left: 260px;
    top: 15px;
}

#browse-title {
    position: absolute;
    left: 30px;
    top: 30px;
    font-size: 24px;
}

.stat {
    position: absolute;
    border-radius: 8px;
    background-color: #F6F8FA;
    height: 200px;
    width: 22%;
    top: 30px;
}

#user-count {
    left: 3%;
}

#bank-balance {
    left: 27%;
}

#token-supply {
    left: 51%;
}

#recurring-donations {
    left: 75%;
}

.stat-title {
    color: black;
    position: absolute;
    top: 15px;
    left: 15px;
    font-size: 16px;
}

.stat-stat {
    position: absolute;
    color: black;
    font-weight: bold;
    top: 60px;
    font-size: 64px;
}

#user-stat {
    left: 100px;
}

#bank-stat {
    left: 80px;
}

#token-stat {
    left: 80px;
}

#recurring-stat {
    left: 100px;
}

#votesa {
    position: absolute;
    background-color: #F6F8FA;
    position: absolute;
    left: 3%;
    top: 300px;
    height: 380px;
    width: 47%;
    border-radius: 8px;
}

#votesa-title {
    position: absolute;
    left: 4%;
    color: black;
    font-size: 16px;
    top: 275px;
}

#votesa-1 {
    right: 75%;
    top: 275px;
    width: 100px;
}

#votesa-2 {
    right: 65%;
    top: 275px;
    width: 100px;
}

#create-vote {
    position: absolute;
    right: 50%;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 16px;
    background-color: #3ece75;
    opacity: 75%;
    transition: all 0.4s;
    padding-top: 6px;
    padding-bottom: 6px;
    top: 265px;
    border-radius: 8px;
    user-select: none;
    color: white;
}

#create-vote:hover {
    cursor: pointer;
    opacity: 100%;
}

.vote-row {
    position: absolute;
    left: 1%;
    width: 98%;
    background-color: white;
    border-radius: 8px;
    height: 40px;
}

.vote-details {
    position: absolute;
    top: 10px;
    left: 10px;
}

#withdraw-title {
    position: absolute;
    left: 53%;
    top: 275px;
    color: black;
    font-size: 16px;
}

#withdraw-reason {
    left: 53%;
    width: 40%;
    top: 310px;
    text-align: left;
}

#withdraw-address {
    left: 53%;
    width: 40%;
    top: 350px;
    text-align: left;
}

#withdraw-amount {
    left: 53%;
    width: 27%;
    top: 390px;
    text-align: left;
}

#withdraw-button {
    right: 7%;
    top: 380px;
}